        .mypage{
            padding-top: 60px;
            width: 100%;
            height: 1360px;
            background-color: #FAFAFA;
            display: block;
        }
        .header{
            width: 100%;
            height: 60px;
            background-color: white;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }

        .mp_myprofile{
            margin : 23px auto 0px auto;
            width : 49.21%;
            height: 150px;
            /*border: 1px solid gray;*/
            display: flex;
        }
        .mp_mp_myimg{
            width: 34.33%;
            height: 100%;
            /*border: 1px solid gray;*/

        }
        .mp_mp_myimg_img{
            width: 46.72%;
            height: 100%;
            margin: 0 100px 0 71px;
            /*border: 1px solid blue;*/
            /*object-fit: contain;*/
            background-size: cover ;
            background-image: url("https://www.instagram.com/static/images/mediaUpsell.jpg/6efc710a1d5a.jpg");
            border-radius: 50%;
        }

        .mp_mp_mytext{
            width: 65.66%;
            height: 100%;
            /*border: 1px solid gray;*/
        }
        .mp_mp_mt_top{
            width: 100%;
            height: 40px;
            margin-bottom: 20px;
            /*border: 1px solid blue;*/
            display: flex;
        }
        .mp_mp_mt_top_nickname{
            display: flex;
            width: 17.91%;
            height: 100%;
            margin-right: 20px;
            /*border: 1px solid red;*/
            /*justify-content: center;*/
            /*align-items: center;*/
            font-size: 23px;
        }
        .mp_mp_mt_top_editprofile{
            width: 15.3%;
            height: 100%;
            /*border: 1px solid red;*/
            display: flex;
            align-items: center;
        }
        .mp_mp_mt_top_ep_button{
            width: 100%;
            height: 70%;
            font-size: 14px;
            font-weight: bold;
            background-color: #FAFAFA;
            border-radius: 4px;
            border: 0.2px solid lightgray;
        }
        .mp_mp_mt_top_option{
            width: 6.51% ;
            height: 100%;
            /*border: 1px solid red;*/
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .mp_mp_mt_middle{
            width: 100%;
            height: 24px;
            margin-bottom: 20px;
            /*border: 1px solid blue;*/
            display: flex;
            font-size: 16px;
        }
        .mp_mp_mt_md_intspan{
            width: 17.1%;
            height: 100%;
            /*border: 1px solid red;*/
            display: flex;
        }
        .mp_mp_mt_md_intfollower{
            width: 19.54%;
            height: 100%;
            /*border: 1px solid red;*/
            display: flex;
        }
        .mp_mp_mt_md_intfollow{
            width: 17%;
            height: 100%;
            /*border: 1px solid red;*/
            display: flex;

        }
        .mp_mp_mt_bottom{
            width: 100%;
            height: 24px;
            margin-bottom: 20px;
            /*border: 1px solid blue;*/
        }
        .mp_mp_mt_bt_name{
            width: 100%;
            height: 100%;
            /*border: 1px solid red;*/
            font-weight: bold;
        }
        /*여기부터 post*/
        .mp_postimg{
            width: 49.21%;
            height: 988px;
            /*border : 1px solid gray;*/
            margin: 0px auto;
            margin-top: 48px;

        }
        .mp_pimg_headbar{
            width: 100%;
            height: 53px;
            /*border: 1px solid blue;*/
            border-top: 1px solid black;

        }
        .mp_pimg_hb_classify{
            width: 29.69%;
            height: 100%;
            /*border: 1px solid blue;*/
            margin: 0px auto;
            display: flex;
        }
        .mp_pimg_hb_cf_post{
            width: 33.33%;
            height: 100%;
            /*border: 1px solid red;*/
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: bold;
        }
        .mp_pimg_hb_cf_save{
            width: 33.33%;
            height: 100%;
            /*border: 1px solid red;*/
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: none;
        }
        .mp_pimg_hb_cf_taged{
            width: 33.33%;
            height: 100%;
            /*border: 1px solid red;*/
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: none;
        }
        .mp_pimg_posts{
            width: 100%;
            height: 100%;
            /*border: 1px solid blue;*/
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .mp_pimg_pts_postline{
            display: flex;
            justify-content: space-between;

        }
        .mp_pimg_pts_pl_post{
            width: 31.33%;
            position: relative;
            border: 1px solid red;
            background-image: url("https://post-phinf.pstatic.net/MjAxOTA1MjdfOTMg/MDAxNTU4OTE2NDcwMjg0.3xdGTshNqyGA44Heo63tM5OvR3E9TVIseskgCqNXr_Mg.FRpKURMjEjO01DW4Fp0NDRQ-gnCROFUAJtKddGV8Qlkg.JPEG/0.jpg?type=w1200");
            background-size: cover;
        }
        .mp_pimg_pts_pl_post:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

