body {
  background-color: #f9f9f9;
}

.contentsWrap{
  margin: 90px auto;
  max-width: 340px;
  border: none;
  padding: 20px;
  text-align: center;
}

.loginWindow {
  background-color: #fcfcfc;
  padding: 10px auto;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}

.loginWindow input{
  margin-bottom: 10px;
  background-color: #f5f5f5;
  height: 37px;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}

.loginWindow input::placeholder{
  font-size: 12px;
  font-weight:100;
}

.loginWindow input:focus {
  outline:none;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
}

.ordinaryLogin {
  height: 37px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 0px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
}

.unactivatedLoginColor {
  background-color: #acd5e8;
}

.activatedLoginColor {
  background-color: #00aeff;
}

.loginWindow * {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#instaLogo {
  margin: 40px auto 30px;
  max-width: 175px;
}

.inlineToBlock {
  display: block;
}

/*
.horizonAndOr {
  margin:10% 0;
  width:100%;
  box-sizing: border-box;
}
*/
.leftHr {
  float:left;
  width:35%;
  box-sizing: border-box;
}

.or{
  float:left;
  width:17%;
  margin:2px 5%;
  font-size: 13px;
  box-sizing: border-box;

  color: #999999;
  font-size: 14px;
  font-weight: 700;
  margin:0px 15px;
}

.rightHr {
  float: right;
  width:35%;
  box-sizing: border-box;
}

.facebookLogin {
  margin-top: 10px;
  margin-bottom:10px;
  background-color: rgba(255, 255, 255, 0.5);

  height: 37px;
  
  box-sizing: border-box;
  border: 0px;
  border-radius: 5px;
  color: #00628f;
  font-size: 15px;
  font-weight: 700;
}

.facebookIcon {
  width:13px;
}


.haveAccount {
  background-color: #fcfcfc;
  margin-top: 10px;
  padding: 15px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}

.haveAccount p {
  font-size: 14px;
  font-weight: 300;
  color: #333333;
}

.haveAccount p a{
  font-weight: 600;
  color: #248ae3;
}

.noneunderline {
  text-decoration:none;
}body {
  background-color: #f9f9f9;
}

.contentsWrap{
  margin: 90px auto;
  max-width: 340px;
  border: none;
  padding: 20px;
  text-align: center;
}

.loginWindow {
  background-color: #fcfcfc;
  padding: 10px auto;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}

.loginWindow input{
  margin-bottom: 10px;
  background-color: #f5f5f5;
  height: 37px;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}

.loginWindow input::placeholder{
  font-size: 12px;
  font-weight:100;
}

.loginWindow input:focus {
  outline:none;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
}

.ordinaryLogin {
  height: 37px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 0px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
}

.unactivatedLoginColor {
  background-color: #acd5e8;
}

.activatedLoginColor {
  background-color: #00aeff;
}

.loginWindow * {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#instaLogo {
  margin: 40px auto 30px;
  max-width: 175px;
}

.inlineToBlock {
  display: block;
}

/*
.horizonAndOr {
  margin:10% 0;
  width:100%;
  box-sizing: border-box;
}
*/
.leftHr {
  float:left;
  width:35%;
  box-sizing: border-box;
}

.or{
  float:left;
  width:17%;
  margin:2px 5%;
  font-size: 13px;
  box-sizing: border-box;

  color: #999999;
  font-size: 14px;
  font-weight: 700;
  margin:0px 15px;
}

.rightHr {
  float: right;
  width:35%;
  box-sizing: border-box;
}

.facebookLogin {
  margin-top: 10px;
  margin-bottom:10px;
  background-color: rgba(255, 255, 255, 0.5);

  height: 37px;
  
  box-sizing: border-box;
  border: 0px;
  border-radius: 5px;
  color: #00628f;
  font-size: 15px;
  font-weight: 700;
}

.facebookIcon {
  width:13px;
}


.haveAccount {
  background-color: #fcfcfc;
  margin-top: 10px;
  padding: 15px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}

.haveAccount p {
  font-size: 14px;
  font-weight: 300;
  color: #333333;
}

.haveAccount p a{
  font-weight: 600;
  color: #248ae3;
}

.noneunderline {
  text-decoration:none;
}