body {
  background-color: #FAFAFA;
}

/* 회원가입 상단부 화면 */
.main_joiner{
  margin: 90px auto;
  max-width: 340px;
  border: none;
  padding: 20px;
  text-align: center;
}

/* 개인정보 입력 */
.mj_personaldata{
  background-color: #fcfcfc;
  padding: 10px auto;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}

/* 로그인 안내 */
.mj_detourlogin{

}

/* 앱다운 안내 */
.mj_appdownload{

}

/* 회원가입 하단부 화면 */
.main_bottombox{

}

/* 앱, 회사 소개 */
.mb_intro{

}

/* 법인 */
.mb_corpor{

}

/* 빈공간 */
.mb_empty{

}
