body {
  background-color: #FAFAFA;
}

/* 회원가입 상단부 화면 */
.main_joiner{
  margin: 90px auto;
  max-width: 340px;
  border: none;
  padding: 0;
  text-align: center;
}

/* 개인정보 입력 */
.mj_personaldata{
  width: 350px;
  height: 504px;
  background-color: #fcfcfc;
  padding: 10px auto;
  border: 1px solid #dfdfdf;
  border-radius: 1px;
}

img {
  max-width: 50%;
  max-height: 50%;
  overflow: hidden;
  transform: translate(0%, 80%);
}

.mj_p_suggest{
  margin-top: 50px;
  color: #8E8E8E;
  font-weight: bolder
}

.mj_p_facebook_button{
  background-color: #0095F6;
  border: 1px;
  border-radius: 5px;
  width: 245px;
  height: 31px;
  font-weight: bold;
  color: #FFFFFF;
}

.mj_p_facebook_button img{
  margin-top: -100px;
  width: 15px;
  height: 20px;
}

.mj_p_horizonline{
  padding: 20px;
  margin: 10px 34px;
}

.leftHr {
  float: left;
  width: 35%;
  box-sizing: border-box;
}

.or {
  float: left;
  width: 17%;
  margin: 2px 5%;
  font-size: 13px;
  box-sizing: content-box;
  
  color: #999999;
  font-size: 14px;
  font-weight: 900;
  margin: 0px 15px;
}

.rightHr {
  float: right;
  width: 35%;
  box-sizing: border-box;
}

.mj_p_textline_one{
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #f5f5f5;
  width: 245px;
  height: 37px;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}

.mj_p_textline_two{
  margin-bottom: 5px;
  background-color: #f5f5f5;
  width: 245px;
  height: 37px;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}

.mj_p_textline_three{
  margin-bottom: 5px;
  background-color: #f5f5f5;
  width: 245px;
  height: 37px;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}

.mj_p_textline_four{
  margin-bottom: 14px;
  background-color: #f5f5f5;
  width: 245px;
  height: 37px;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-radius: 4px;  
}

.mj_p_joiner_button{
  background-color: #0095F6;
  border: 1px;
  border-radius: 5px;
  width: 245px;
  height: 31px;
  font-weight: bold;
  color: #FFFFFF;
}

/* 로그인 안내 */
.mj_detourlogin{
  width: 350px;
  height: 70px;
  background-color: #fcfcfc;
  padding: 10px auto;
  border: 1px solid #dfdfdf;
  border-radius: 1px;
  margin-top: 10px;
  line-height: 35px;
}

.mj_d_loginpage{
  color: #0095F6;
  text-decoration-line:none;
}

/* 앱다운 안내 */
.mj_download{
  display: flex;
  padding: 30px;
  position: relative;
}

.mj_d_appstore img{
  max-width: 70%;
  max-height: 70%;
  position: absolute;
  margin-top: -60px;
  left: 25px;
}

.mj_d_googleplay img{
  max-width: 70%;
  max-height: 70%;
  position: absolute;
  margin-top: -60px;
  right: 25px;
}


/* 회원가입 하단부 화면 */
.main_bottombox{
  margin-top: -30px;
  margin-left: 500px;
}

/* 앱, 회사 소개 */
.mb_intro{
  display: flex;
  margin-left: 50px;
}

.mb_i_margin{
  margin-right: 20px;
  color: #8E8E8E;
  font-size: small;
}

.mb_i_line{
  text-decoration-line: none
}

/* 법인 */
.mb_corpor{
  margin-left: 290px;
  display: flex;
  margin-top: 20px;
  text-align: center;
  color: #8E8E8E;
  font-size: small;
}

.mb_c_language{
  margin-right: 20px;
}

.mb_c_from{

}

/* 빈공간 */
.mb_empty{

}
