.html {
    height: 100%;
}

.body {
    margin: 0;
    height: 100%;

}

.main_box {
    display: flex;
    width: 930px;
    margin: auto;
    height: 3000000px;
}

.mb_left_box {
    width: 615px;
}

/* 메인헤더 페이지 */

.main_header {
    height: 20%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(210, 210, 210);
}

.mh_contents_wrapper {
    height: 100%;
    width: 945px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 0.7fr 1fr;
}

.mh_name {
    font-size: x-large;
}

.mh_search_bar {
    display: flex;
}


.mh_sb_ib_o_icon {
    position: relative;
    color: rgb(142, 142, 142);
    font-size: 16px;
    margin-right: 10px;
}

.mh_sb_ib_o_txt {
    color: rgb(142, 142, 142);
    font-size: 16px;
    white-space: nowrap;
}

.mh_sb_input_box {
    border-radius: 8px;
    min-width: 125px;
    height: 36px;
    display: flex;
    position: relative;
    width: 268px;

}

.mh_sb_ib_input {
    outline: 0;
    border: 0;
    padding: 5px 30px;
    font-size: 16px;
    background-color: rgb(239, 239, 239);
    border-radius: 8px;
}

.mh_sb_ib_overlap_box {
    position: relative;
    left: -95%;
    top: 10px;
    display: flex;
    padding-left: 16px;
}

.mh_icons {
    justify-self: end;
}

.mh_i_home,
.mh_i_send,
.mh_i_square,
.mh_i_compass,
.mh_i_heart {
    font-size: 25px;
    margin-right: 15px;
}




/*  스토리박스 */
.mb_l_story_box_wrapper {
    margin-top: 30px;
    height: 120px;
}

.mb_l_w_seen_part {
    overflow-x: hidden;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    box-shadow: 1px rgb(219, 219, 219);
    width: 615px;
}

.mb_l_w_sp_sb {
    display: flex;
    padding: 0;
    margin: 0;

    float: left;
}

.mb_l_w_sp_sb_content {
    margin: 10px;
    width: 70px;
    height: 90px;
}

.mb_l_w_sp_sb_c_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.mb_l_w_sp_sb_button {
    display: flex;
    height: 0;
}

.mb_l_w_sp_sb_btn_prev {
    background-color: white;
    opacity: 0.8;
    border-radius: 50%;
    position: relative;
    width: 25px;
    height: 25px;
    z-index: 2;
    top: -4.7rem;
    left: 1rem;
    font-size: 16px;
    box-shadow: 0.5px 0.5px 1px 1px rgb(142, 142, 142);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.mb_l_w_sp_sb_btn_prev:hover {
    cursor: pointer;
}

.mb_l_w_sp_sb_btn_next {
    background-color: white;
    border-radius: 50%;
    position: relative;
    width: 25px;
    height: 25px;
    top: -4.7rem;
    left: 35rem;
    z-index: 2;
    font-size: 16px;
    opacity: 0.8;
    box-shadow: 0.5px 0.5px 1px 1px rgb(142, 142, 142);
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.mb_l_w_sp_sb_btn_next:hover {
    cursor: pointer;
}

/* 메인 카드 헤더 */
.mb_l_mc_header {
    width: 615px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mb_l_mc_h_front {
    display: flex;
    align-items: center;
}

.mb_l_mc_h_f_circle_avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}

.mb_l_mc_h_f_id {
    font-weight: bold;
}

/* 메인바디 캐러셀 */
.mb_l_mc_mib_carousel {
    float: left;
}

.mb_l_mc_main_image_box {
    overflow-x: hidden;
    width: 615px;
}

.mb_l_mc_mib_button {
    display: flex;
    height: 0;
}

.mb_l_mc_mib_btn_prev {
    background-color: white;
    opacity: 0.8;
    border-radius: 50%;
    position: relative;
    width: 25px;
    height: 25px;
    z-index: 2;
    top: 22rem;
    left: 1rem;
    font-size: 16px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(142, 142, 142);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.mb_l_mc_mib_btn_prev:hover {
    cursor: pointer;
}

.mb_l_mc_mib_btn_next {
    background-color: white;
    border-radius: 50%;
    position: relative;
    width: 25px;
    height: 25px;
    top: 21.6rem;
    left: 34.7rem;
    z-index: 2;
    font-size: 16px;
    opacity: 0.8;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(142, 142, 142);
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.mb_l_mc_mib_btn_next:hover {
    cursor: pointer;
}

/*  메인바디 커멘트 */
.mb_l_mc_comment {
    position: relative;
    top: -4px;
    width: 613px;
    border-width: 0px 1px 1px 1px;
    border-color: rgb(142, 142, 142);
    border-style: solid;
}

.mb_l_mc_c_liked_box {
    margin-left: 10px;
}

.mb_l_mc_c_lk_icon_box {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 60px;
}

.mb_l_mc_c_lk_ic_icons {
    margin-right: 10px;
}

.mb_l_mc_c_lk_lp_circle_avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.mb_l_mc_c_lk_liked_person {
    display: flex;
}

.mb_l_mc_c_lk_my_comment {
    display: flex;
}

.mb_l_mc_c_lk_mc_id {
    margin-top: 5px;
    font-weight: bold;
}

.mb_l_mc_c_lk_my_comment {
    align-items: flex-end;
}

.mb_l_mc_c_lk_mc_comment {
    margin-left: 5px;
}

.mb_l_mc_c_lk_comments_button {
    color: rgb(142, 142, 142);
    font-size: 14px;
    margin-top: 5px;
}

.mb_l_mc_c_lk_comments {
    margin-top: 5px;
    display: flex;
}

.mb_l_mc_c_lk_c_id {
    font-weight: bold;
}

.mb_l_mc_c_lk_c_content {
    margin-left: 5px;
}

.mb_l_mc_c_lk_days_before {
    font-size: 10px;
    color: rgb(142, 142, 142);
}

.mb_l_mc_c_lk_days_before {
    margin-top: 5px;
}

.mb_l_mc_c_comment_input_box {
    display: flex;
    height: 55px;
    margin-top: 10px;
    border-top: 1px solid rgb(142, 142, 142);
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;

}

.mb_l_mc_c_c_ib_front {
    display: flex;
    width: 90%;
}

.mb_l_mc_c_c_ib_f_eb_smile {
    font-size: 20px;
}

.mb_l_mc_c_c_ib_input {
    border: 0;
    outline: 0;
    padding: 3px 16px;
    width: 100%;
    font-size: 15px;
}

/*  라이트 플로팅 박스 */

.mb_right_float_box {
    position: sticky;
    top: 100px;
}

.mb_right_float_box {
    width: 315px;
    height: 450px;
    margin: 10px 30px;
}

.mb_rf_my_account {
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.mb_rf_ma_front {
    display: flex;
    align-items: center;
}

.mb_rf_ma_f_circle_avatar {
    margin-right: 10px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.mb_rf_ma_f_tw_id {
    font-weight: bold;
}

.mb_rf_mc_back {
    color: rgb(65, 147, 239);
    font-weight: bold;
}

.mb_rf_recommend_title {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.mb_rf_recommend_account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.mb_rf_ra_front {
    display: flex;
}

.mb_rf_ra_f_circle_avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.mb_rf_ra_f_txt {
    margin-left: 10px;
}

.mb_rf_ra_f_t_id {
    font-weight: bold;
    font-size: 16px;
}

.mb_rf_ra_f_t_follower {
    font-size: 13px;
}

.mb_rf_ra_back {
    color: rgb(65, 147, 239);
    font-size: 14px;
    font-weight: bold;
}