<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>my_page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/edit_page.css">

    <style>

    </style>

</head>

<body>
    <div class="main_header">
        <div class="mh_contents_wrapper">
            <div class="mh_name">spaceGram</div>
            <div class="mh_search_bar">
                <div class="mh_sb_input_box">
                    <input class="mh_sb_ib_input" maxlength="8">
                    <div class="mh_sb_ib_overlap_box">
                        <i class="bi bi-search mh_sb_ib_o_icon"></i>
                        <div class="mh_sb_ib_o_txt">검색</div>
                    </div>

                </div>
            </div>
            <div class="mh_icons">
                <i class="bi bi-house-door mh_i_home"></i>
                <i class="bi bi-send mh_i_send"></i>
                <i class="bi bi-plus-square mh_i_square"></i>
                <i class="bi bi-compass mh_i_compass"></i>
                <i class="bi bi-heart mh_i_heart"></i>
                <img src="/static/images/profile.jpeg" class="mh_circle_avatar">
            </div>

        </div>
    </div>
    <div class="wrap">
        <div class="mp_profile_modal">
            <div class="profile_modal">
                <div class="pm_my_page">
                    <svg aria-label="프로필" class="_8-yf5 " color="#262626" fill="#262626" height="16" role="img"
                        viewBox="0 0 24 24" width="16">
                        <circle cx="12.004" cy="12.004" fill="none" r="10.5" stroke="currentColor"
                            stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></circle>
                        <path
                            d="M18.793 20.014a6.08 6.08 0 00-1.778-2.447 3.991 3.991 0 00-2.386-.791H9.38a3.994 3.994 0 00-2.386.791 6.09 6.09 0 00-1.779 2.447"
                            fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"
                            stroke-width="2"></path>
                        <circle cx="12.006" cy="9.718" fill="none" r="4.109" stroke="currentColor"
                            stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></circle>
                    </svg> &ensp; 프로필
                </div>
                <div class="pm_book_mark">
                    <svg aria-label="저장됨" class="_8-yf5 " color="#262626" fill="#262626" height="16" role="img"
                        viewBox="0 0 24 24" width="16">
                        <polygon fill="none" points="20 21 12 13.44 4 21 4 3 20 3 20 21" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon>
                    </svg> &ensp; 저장됨
                </div>
                <div class="pm_logout">
                    &ensp; 로그아웃
                </div>
            </div>
        </div>
        {% if my_name %}
        <div class="edit_page">
            <div class="ep_my_title">
                <div class="ep_mt_my_img"
                    style="background-image: url(data:image/jpeg;base64,'{{my_name.get('profile_img')}}');"></div>
                <div class="ep_mt_edit_profile">
                    <div class="ep_mt_ep_nick_name">{{my_name.get('nick_name')}}</div>
                    <form method="post" , enctype="multipart/form-data">
                        <div class="profile_change_btn">
                            <label for="chooseFile">
                                프로필 이미지 바꾸기
                            </label>
                        </div>
                        <input type="file" id="chooseFile" name="chooseFile" accept="image/*">
                    </form>
                </div>

            </div>
            <div class="ep_user_name">
                <div class="ep_un_text">이름</div>
                <div class="ep_un_input_change_user_name">
                    <input id="new_user_name" style="width : 80%" type="text"
                        placeholder="{{my_name.get('user_name')}}">
                </div>
            </div>
            <div class="ep_user_under_comment">
                <div class="ep_uuc_none"></div>
                <div class="ep_uuc_comments">
                    <div class="ep_uuc_top">사람들이 이름, 별명 또는 비즈니스 이름 등 회원님의 알려진 이름을 사용하여 <br>회원님의 계정을 찾을 수 있도록 도와주세요.
                    </div>
                    <div class="ep_uuc_under">이름은 14일 안에 두 번만 변경할 수 있습니다.</div>
                </div>
            </div>
            <div class="ep_my_nick_name">
                <div class="ep_mnn_nick_text">닉네임</div>
                <div class="ep_mnn_input_change_nick_name">
                    <input id="new_nick_name" style="width : 80%" type="text"
                        placeholder="{{my_name.get('nick_name')}}">
                </div>
            </div>
            <div class="ep_nick_name_under_comment">
                <div class="ep_nnuc_none"></div>
                <div class="ep_nnuc_comment">대부분의 경우 이후 14일 동안 닉네임을 다시 {{my_name.get('nick_name')}}(으)로 <br> 변경할 수 있습니다.
                </div>
            </div>
            <div class="ep_user_comment_under_comment">
                <div class="ep_ucud_none"></div>
                <div class="ep_ucud_comment">
                    <div class="ep_ucuc_top">개인정보</div>
                    <div class="ep_ucuc_under">비즈니스나 반려동물 등에 사용된 계정인 경우에도 회원님의 개인정보를 <br>입력하세요. 공개 프로필에는 포함되지 않습니다.
                    </div>
                </div>
            </div>
            <div class="ep_email">
                <div class="ep_email_comment">이메일</div>
                <div class="ep_email_input_email">
                    <input id="new_email" style="width : 80%" type="text" 바꿀 이메일 placeholder="{{my_name.get('email')}}">
                </div>
                {% endif %}
            </div>
            <button class="summit"> 변경 </button>

        </div>
    </div>
    <footer>
        <div class="mypage_footer"></div>
    </footer>
</body>
<script src="../static/js/edit_page.js"></script>

</html>