<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>로그인ㆍspaceGram</title>
    <link rel="stylesheet" href="../static/css/join_page.css" />
  </head>
  <body>
    <!-- 회원가입 상단부 화면 -->
    <div class="main_joiner">
      <!-- 개인정보 입력 -->
      <div class="mj_personaldata">
        <div class="mj_p_instalogo">
          <img src="../static/images/logo.PNG" />
            <a href="#" target="_blank"></a>
        </div>
        <div class="mj_p_suggest">
          <p>친구들의 사진과 동영상을 보려면<br>가입하세요.</p>
        </div>
        <button class="mj_p_facebook_button">
          <img src="../static/images/facebook.png" />
          Facebook으로 로그인
        </button>
        <div class="mj_p_horizonline">
          <hr class="leftHr" />
          <div class="or">또는</div>
          <hr class="rightHr" />
        </div>
        <input
          type="text"
          placeholder="휴대폰 번호 또는 이메일 주소"
          class="mj_p_textline_one"
        />
        <input
          type="text"
          placeholder="성명"
          class="mj_p_textline_two"
        />
        <input
          type="text"
          placeholder="사용자 이름"
          class="mj_p_textline_three"
        />
        <input
          type="text"
          placeholder="비밀번호"
          class="mj_p_textline_four"
        />
        <br>
        <button class="mj_p_joiner_button">가입</button>
      </div>
      <!-- 로그인 안내 -->
      <div class="mj_detourlogin">
        <p>
          계정이 있으신가요?
          <a href="#" class="mj_d_loginpage">로그인</a>
        </p>
      </div>
      <!-- 앱다운 안내 -->
      <div class="mj_appdownload"></div>
        <p>앱을 다운로드 하세요.</p>
    </div>
    <!-- 회원가입 하단부 화면 -->
    <div class="main_bottombox">
      <!-- 앱, 회사 소개 -->
      <div class="mb_intro">
        <div class="mb_i_meta">
          <a href="#" rel="nofollow noopener noreferrer">
            <div class="mb_i_m_button">meta</div>
          </a>
        </div>
        <div class="mb_i_intro">
          <a href="#" rel="nofollow noopener noreferrer">
            <div class="mb_i_i_button">소개</div>
          </a>
        </div>
        <div class="mb_i_blog">
          <a href="#" rel="nofollow noopener noreferrer">
            <div class="mb_i_b_button">블로그</div>
          </a>
        </div>
        <div class="mb_i_recruit">
          <a href="#" rel="nofollow noopener noreferrer">
            <div class="mb_i_r_button">채용 정보</div>
          </a>
        </div>
        <div class="mb_i_help">
          <a href="#" rel="nofollow noopener noreferrer">
            <div class="mb_i_h_button">도움말</div>
          </a>
        </div>
        <div class="mb_i_api">
          <a href="#" rel="nofollow noopener noreferrer">
            <div class="mb_i_a_button">api</div>
          </a>
        </div>
        <div class="mb_i_personalInfor">
          <a href="#" rel="nofollow noopener noreferrer">
            <div class="mb_i_p_button">개인정보처리방침</div>
          </a>
        </div>
        <div class="mb_i_clause">
          <a href="#" rel="nofollow noopener noreferrer">
            <div class="mb_i_c_button">약관</div>
          </a>
        </div>
        <div class="mb_i_popul">
          <a href="#" rel="nofollow noopener noreferrer">
            <div class="mb_i_pop_button">인기 계정</div>
          </a>
        </div>
        <div class="mb_i_tag">
          <a href="#" rel="nofollow noopener noreferrer">
            <div class="mb_i_t_button">해시태그</div>
          </a>
        </div>
        <div class="mb_i_location">
          <a href="#" rel="nofollow noopener noreferrer">
            <div class="mb_i_l_button">위치</div>
          </a>
        </div>
        <div class="mb_i_lite">
          <a href="#" rel="nofollow noopener noreferrer">
            <div class="mb_i_lite_button">Instagram Lite</div>
          </a>
        </div>
      </div>
      <!-- 법인 -->
      <div class="mb_corpor"></div>
      <!-- 빈공간 -->
      <div class="mb_empty"></div>
    </div>
  </body>
</html>
