<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>로그인ㆍspaceGram</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../static/css/join_page.css" />
</head>

<body>
  <!-- 회원가입 상단부 화면 -->
  <div class="main_joiner">
    <!-- 개인정보 입력 -->
    <div class="mj_personaldata">
      <div class="mj_p_instalogo">
        <img src="../static/images/logo.PNG" />
        <a href="#" target="_blank"></a>
      </div>
      <div class="mj_p_suggest">
        <p>친구들의 사진과 동영상을 보려면<br />가입하세요.</p>
      </div>
      <button class="mj_p_facebook_button">
        <img src="../static/images/facebook3.png" />
        Facebook으로 로그인
      </button>
      <div class="mj_p_horizonline">
        <hr class="leftHr" />
        <div class="or">또는</div>
        <hr class="rightHr" />
      </div>
      <input type="text" id="new_id" placeholder="휴대폰 번호 또는 이메일 주소" class="mj_p_textline_one" />
      <input type="text" id="new_nick_name" placeholder="성명(닉네임)" class="mj_p_textline_two" />
      <input type="text" id="new_user_name" placeholder="사용자 이름" class="mj_p_textline_three" />
      <input type="password" id="new_pw" placeholder="비밀번호" class="mj_p_textline_four" />
      <!-- 100 * 100으로 올리기 이미지 -->
      <br />
      <button class="mj_p_joiner_button">가입</button>
    </div>
    <!-- 로그인 안내 -->
    <div class="mj_detourlogin">
      <p>
        계정이 있으신가요?
        <a href="login_page.html" class="mj_d_loginpage">로그인</a>
      </p>
    </div>
    <!-- 앱다운 안내 -->
    <div class="mj_appdownload"></div>
    <p>앱을 다운로드 하세요.</p>
    <div class="mj_download">
      <div class="mj_d_appstore">
        <img src="../static/images/appstore.png" />
      </div>
      <div class="mj_d_googleplay">
        <img src="../static/images/googleplay.png" />
      </div>
    </div>
  </div>
  <!-- 회원가입 하단부 화면 -->
  <div class="main_bottombox">
    <br>
    <!-- 앱, 회사 소개 -->
    <div class="mb_intro">
      <div class="mb_i_meta">
        <a class="mb_i_line" href="#">
          <div class="mb_i_m_button mb_i_margin">meta</div>
        </a>
      </div>
      <div class="mb_i_intro">
        <a class="mb_i_line" href="#" rel="nofollow noopener noreferrer">
          <div class="mb_i_i_button mb_i_margin">소개</div>
        </a>
      </div>
      <div class="mb_i_blog">
        <a class="mb_i_line" href="#" rel="nofollow noopener noreferrer">
          <div class="mb_i_b_button mb_i_margin">블로그</div>
        </a>
      </div>
      <div class="mb_i_recruit">
        <a class="mb_i_line" href="#" rel="nofollow noopener noreferrer">
          <div class="mb_i_r_button mb_i_margin">채용 정보</div>
        </a>
      </div>
      <div class="mb_i_help">
        <a class="mb_i_line" href="#" rel="nofollow noopener noreferrer">
          <div class="mb_i_h_button mb_i_margin">도움말</div>
        </a>
      </div>
      <div class="mb_i_api">
        <a class="mb_i_line" href="#" rel="nofollow noopener noreferrer">
          <div class="mb_i_a_button mb_i_margin">api</div>
        </a>
      </div>
      <div class="mb_i_personalInfor">
        <a class="mb_i_line" href="#" rel="nofollow noopener noreferrer">
          <div class="mb_i_p_button mb_i_margin">개인정보처리방침</div>
        </a>
      </div>
      <div class="mb_i_clause">
        <a class="mb_i_line" href="#" rel="nofollow noopener noreferrer">
          <div class="mb_i_c_button mb_i_margin">약관</div>
        </a>
      </div>
      <div class="mb_i_popul">
        <a class="mb_i_line" href="#" rel="nofollow noopener noreferrer">
          <div class="mb_i_pop_button mb_i_margin">인기 계정</div>
        </a>
      </div>
      <div class="mb_i_tag">
        <a class="mb_i_line" href="#" rel="nofollow noopener noreferrer">
          <div class="mb_i_t_button mb_i_margin">해시태그</div>
        </a>
      </div>
      <div class="mb_i_location">
        <a class="mb_i_line" href="#" rel="nofollow noopener noreferrer">
          <div class="mb_i_l_button mb_i_margin">위치</div>
        </a>
      </div>
      <div class="mb_i_lite">
        <a class="mb_i_line" href="#" rel="nofollow noopener noreferrer">
          <div class="mb_i_lite_button mb_i_margin">Instagram Lite</div>
        </a>
      </div>
    </div>
    <!-- 법인 -->
    <div class="mb_corpor">
      <div class="mb_c_language">한국어</div>
      <div class="mb_c_from">© 2022 spaceGram from Meta</div>
    </div>
    <!-- 빈공간 -->
    <div class="mb_empty"></div>
  </div>
  <!-- <button onclick="sign_up" -->
    <script src="../static/js/join_page.js"></script>
</body>

</html>