<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>로그인 페이지</title>

  <!-- 웹 폰트어썸, 제이쿼리 임포트-->
  <script src="https://kit.fontawesome.com/bc43dde373.js" crossorigin="anonymous"></script>
  <link href="//db.onlinewebfonts.com/c/623c7118249e082fe87a78e08506cb4b?family=Segoe+UI" rel="stylesheet"
    type="text/css" />
  <!-- JQuery Import -->
  <!-- src 부분을 https 로 변경해주면 로딩이 없어지는 상황이 있었음 -->
  <!-- 로컬 css, js 임포트-->
  <link rel="stylesheet" href="../static/css/login_page.css" />
  <link rel="stylesheet" href="../static/css/join_page.css" />

</head>

<body>
  <!-- 로그인 페이지 -->
  <div class="login_page">
    <div class="lp_set">
      <!-- 로그인 박스 -->
      <div class="lp_s_box">
        <div class="lp_s_b_logo"></div>
        <div class="lp_s_b_login">
          <div class="lp_s_b_li_set">
            <div class="lp_s_b_li_s_id">
              <div class="lp_s_b_li_s_id_input">
                <label class="lp_s_b_li_s_id_i_box">
                  <span class="lp_s_b_li_s_id_i_b_span"></span>
                  <input placeholder="전화번호, 사용자 이름 또는 이메일" aria-label="전화번호, 사용자 이름 또는 이메일" aria-required="true"
                    autocapitalize="off" autocorrect="off" maxlength="75" name="username" type="text"
                    class="lp_s_b_li_s_id_i_b_input" value="">
                </label>
                <div class="lp_s_b_li_s_id_space"></div>
              </div>
            </div>
            <div class="lp_s_b_li_s_pw">
              <div class="lp_s_b_li_s_pw_input">
                <label class="lp_s_b_li_s_pw_i_box">
                  <input placeholder="비밀번호" aria-label="비밀번호" aria-required="true" autocapitalize="off"
                    autocorrect="off" name="password" type="password" class="lp_s_b_li_s_pw_i_b_input" value="">
                </label>
                <div class="lp_s_b_li_s_pw_space"></div>
              </div>
            </div>
            <div class="lp_s_b_li_s_btn">
              <button class="lp_s_b_li_s_btn_blue" disabled type="submit">
                <a class="lp_s_b_li_s_btn_b_mainpage" href="main.html">로그인</a>
              </button>
            </div>
            <div class="lp_s_b_li_s_highlight">
              <div class="lp_s_b_li_s_hl_line"></div>
              <div class="lp_s_b_li_s_hl_or">또는</div>
              <div class="lp_s_b_li_s_hl_line"></div>
            </div>
            <div class="lp_s_b_li_s_facebook">
              <!-- 현님 페이스북 버튼 가져옴 -->
              <button class="mj_p_facebook_button">
                <img src="../static/images/facebook3.png" />
                <a class="mj_p_facebook_button_main" href="main.html">Facebook으로 로그인</a>
              </button>
            </div>
          </div>
          <div class="lp_s_b_li_forgot">
            <a class="lp_s_b_li_forgot_box" href="/accounts/password/reset/" tabindex="0">비밀번호를 잊으셨나요?</a>
          </div>
        </div>

      </div>
      <div class="lp_newbie">
        <div class="lp_nb_register">
          <p class="lp_nb_rg_ask">
            "계정이 없으신가요?"
            <a data-testid="sign-up-link" href="join_page.html" tabindex="0">
              <span class="lp_nb_rg_a_link">
                가입하기
              </span>
            </a>
          </p>

        </div>
      </div>
      <div class="lp_download">
        <div class="lp_dl_sentence"></div>
        <div class="lp_dl_icon">
          <div class="lp_dl_i_apple"></div>
          <div class="lp_dl_i_android"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer 김현님 코드 복붙-->
  <div class="main_bottombox">
    <br>
    <!-- 앱, 회사 소개 -->
    <div class="mb_intro">
      <div class="mb_i_meta">
        <a class="mb_i_line" href="#">
          <div class="mb_i_m_button mb_i_margin">meta</div>
        </a>
      </div>
      <div class="mb_i_intro">
        <a class="mb_i_line" href="#" rel="nofollow noopener noreferrer">
          <div class="mb_i_i_button mb_i_margin">소개</div>
        </a>
      </div>
      <div class="mb_i_blog">
        <a class="mb_i_line" href="#" rel="nofollow noopener noreferrer">
          <div class="mb_i_b_button mb_i_margin">블로그</div>
        </a>
      </div>
      <div class="mb_i_recruit">
        <a class="mb_i_line" href="#" rel="nofollow noopener noreferrer">
          <div class="mb_i_r_button mb_i_margin">채용 정보</div>
        </a>
      </div>
      <div class="mb_i_help">
        <a class="mb_i_line" href="#" rel="nofollow noopener noreferrer">
          <div class="mb_i_h_button mb_i_margin">도움말</div>
        </a>
      </div>
      <div class="mb_i_api">
        <a class="mb_i_line" href="#" rel="nofollow noopener noreferrer">
          <div class="mb_i_a_button mb_i_margin">api</div>
        </a>
      </div>
      <div class="mb_i_personalInfor">
        <a class="mb_i_line" href="#" rel="nofollow noopener noreferrer">
          <div class="mb_i_p_button mb_i_margin">개인정보처리방침</div>
        </a>
      </div>
      <div class="mb_i_clause">
        <a class="mb_i_line" href="#" rel="nofollow noopener noreferrer">
          <div class="mb_i_c_button mb_i_margin">약관</div>
        </a>
      </div>
      <div class="mb_i_popul">
        <a class="mb_i_line" href="#" rel="nofollow noopener noreferrer">
          <div class="mb_i_pop_button mb_i_margin">인기 계정</div>
        </a>
      </div>
      <div class="mb_i_tag">
        <a class="mb_i_line" href="#" rel="nofollow noopener noreferrer">
          <div class="mb_i_t_button mb_i_margin">해시태그</div>
        </a>
      </div>
      <div class="mb_i_location">
        <a class="mb_i_line" href="#" rel="nofollow noopener noreferrer">
          <div class="mb_i_l_button mb_i_margin">위치</div>
        </a>
      </div>
      <div class="mb_i_lite">
        <a class="mb_i_line" href="#" rel="nofollow noopener noreferrer">
          <div class="mb_i_lite_button mb_i_margin">Instagram Lite</div>
        </a>
      </div>
    </div>
    <!-- 법인 -->
    <div class="mb_corpor">
      <div class="mb_c_language">한국어</div>
      <div class="mb_c_from">© 2022 spaceGram from Meta</div>
    </div>
    <!-- 빈공간 -->
    <div class="mb_empty"></div>
  </div>
  <!-- Footer -->
</body>