<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <title>spaceGram</title>
</head>

<body>

    {% for post in posts %}
    <div id="modal_wrapper{{post._id}}" class="huge_modal_wrapper">
        <div class="hm_w_x_button" onclick="huge_modal_out('{{post._id}}')">x</div>
        <div class="hm_w_body">
            <div class="hm_w_b_img_wrapper">
                <div class="hm_w_button_box">
                    <div class="hm_w_btn_prev" id="modal_button_prev_{{post._id}}"
                        onclick="carousel_prev_btn('{{post._id}}', 'modal')">
                        <i class="bi bi-chevron-left"></i>
                    </div>
                    {% if post.file | length > 1 %}
                    <div onclick="carousel_next_btn('{{post._id}}', '{{post.file | length}}', 'modal')"
                        id="modal_button_next_{{post._id}}" class="hm_w_btn_next" style="visibility: visible;">
                        <i class="bi bi-chevron-right"></i>
                    </div>
                    {% else %}
                    <div class="hm_w_btn_next" style="visibility: hidden;">
                        <i class="bi bi-chevron-right"></i>
                    </div>
                    {% endif %}
                </div>
                <div class="hm_w_b_iw_img_box">
                    <div id="modal_carousel_{{post._id}}" class="mb_l_mc_mib_carousel"
                        style="width: {{614 * post.file | length}}px;">
                        {% for image in post.file %}
                        <img src="data:image/jpeg;base64,{{image}}" class="main_card_image">
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="hm_w_b_content_box">
                <div class="hm_w_b_cb_my_account">
                    <div class="hm_w_b_cb_mc_front">
                        <img class="hm_w_b_cb_mc_f_circle_avatar" src="/static/images/df.jpeg">
                        <div class="hm_w_b_cb_mc_f_txt">
                            <div class="hm_w_b_cb_mc_f_t_id">{{post.user_nick_name}}
                                <i class="bi bi-dot"></i>
                                <span class="hm_w_b_cb_mc_f_t_i_following_button">팔로잉</span>
                            </div>
                        </div>
                    </div>
                    <i class="bi bi-three-dots hm_w_b_cb_ma_dot_icon" onclick="small_modal_in('{{post._id}}')"></i>
                </div>
                <div class="hm_w_b_cb_under">
                    <div class="hm_w_b_cb_u_my_account_box">
                        <img src=data:image/jpeg;base64,{{my_account.profile_img}}
                            class="hm_w_b_cb_u_my_ab_circle_avatar">
                        <div class="hm_w_b_cb_u_my_ab_txt">
                            <div class="hm_w_b_cb_u_mc_my_id">{{post.user_nick_name}}</div>
                            <div class="hm_w_b_cb_u_mc_mydesc">{{post.content}}</div>
                        </div>
                    </div>
                    {% for comment in post.comment %}
                    <div class="hm_w_b_cb_other_account_box">
                        <img src="data:image/jpeg;base64,{{comment.profile_img}}" class="hm_w_b_cb_u_circle_avatar">
                        <div class="hm_w_b_cb_u_other_id">{{comment.nick_name}}</div>
                        <div class="hm_w_b_cb_u_comments">{{comment.comment}}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="small_modal_wrapper" id="small_modal_wrapper_{{post._id}}">
        <div class="sm_w_body" id="sm_w_body_{{post._id}}">
            <div class="sm_w_body_txt sm_w_b_t_red">신고</div>
            <div class="sm_w_body_txt sm_w_b_t_red">팔로우 취소</div>
            <div class="sm_w_body_txt sm_w_b_t_black">게시물로 이동</div>
            <div class="sm_w_body_txt sm_w_b_t_black">공유 대상...</div>
            <div class="sm_w_body_txt sm_w_b_t_black">링크 복사</div>
            <div class="sm_w_body_txt sm_w_b_t_black">퍼가기</div>
            <div class="sm_w_body_txt sm_w_b_t_black" onclick="small_modal_out('{{post._id}}')">취소</div>
        </div>
    </div>
    {% endfor %}
    <div class="upload_modal_wrapper">
        <div class="upload_modal">
            <div class="um_header">
                업로드
                <span class="um_header_next_btn">다음</span>
                <span class="um_header_upload_btn">공유</span>
            </div>
            <div class="um_body">
                <div class="up_load_button_box">
                    <div class="ul_bb_prev">
                        <i class="bi bi-chevron-left"></i>
                    </div>
                    <div class="ul_bb_next">
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </div>
                <div id="um_preview_image_box">
                    <div id="um_p_ib_wrapper"></div>
                </div>
                <div class="um_desc">파일을 끌어다 놓으세요</div>
                <div class="um_comment_page">
                    <div class="um_cp_my_account">
                        {% if my_account is not none %}
                        <img class="um_cp_ma_img" src="data:image/jpeg;base64,{{my_account.get('profile_img')}}" alt="">
                        <div class="um_cp_ma_id">{{my_account.get('nick_name')}}</div>
                        {% endif %}
                    </div>
                    <form class="um_cp_ma_form">
                        <textarea placeholder="문구입력..." type="text" id="um_cp_ma_f_input"></textarea>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="main_header">
        <div class="mh_contents_wrapper">
            <div class="mh_name">spaceGram</div>
            <div class="mh_search_bar">
                <div class="mh_sb_input_box">
                    <div class="mh_sb_ib_overlap_box">
                        <i class="bi bi-search mh_sb_ib_o_icon"></i>
                        <div class="mh_sb_ib_o_txt">검색</div>
                    </div>
                    <input class="mh_sb_ib_input" maxlength="8">
                </div>
            </div>
            <div class="mh_icons">
                <i class="bi bi-house-door mh_i_home"></i>
                <i class="bi bi-send mh_i_send"></i>
                <i class="bi bi-plus-square mh_i_square"></i>
                <i class="bi bi-compass mh_i_compass"></i>
                <i class="bi bi-heart mh_i_heart"></i>
                {% if my_account is not none %}
                <img src="data:image/jpeg;base64,{{my_account.get('profile_img')}}" class="mh_circle_avatar">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="main_box">
        <div class="mb_left_box">
            <div class="mb_l_story_box_wrapper">
                <div class="mb_l_sbw_seen_part">
                    <ul class="mb_l_sbw_sp_sb" style="list-style-type: none">
                        <li class="mb_l_sbw_sp_sb_content">
                            <div class="mb_l_sbw_sp_sb_c_img_wrapper">
                                <img class="mb_l_sbw_sp_sb_c_iw_i" src="/static/images/df.jpeg">
                            </div>
                            <div class="mb_l_sbw_sp_sb_c_txt">about_joo</div>
                        </li>
                        <li class="mb_l_sbw_sp_sb_content">
                            <div class="mb_l_sbw_sp_sb_c_img_wrapper">
                                <img class="mb_l_sbw_sp_sb_c_iw_i" src="/static/images/df.jpeg">
                            </div>
                            <div class="mb_l_sbw_sp_sb_c_txt">about_joo</div>
                        </li>
                        <li class="mb_l_sbw_sp_sb_content">
                            <div class="mb_l_sbw_sp_sb_c_img_wrapper">
                                <img class="mb_l_sbw_sp_sb_c_iw_i" src="/static/images/df.jpeg">
                            </div>
                            <div class="mb_l_sbw_sp_sb_c_txt">about_joo</div>
                        </li>
                        <li class="mb_l_sbw_sp_sb_content">
                            <div class="mb_l_sbw_sp_sb_c_img_wrapper">
                                <img class="mb_l_sbw_sp_sb_c_iw_i" src="/static/images/df.jpeg">
                            </div>
                            <div class="mb_l_sbw_sp_sb_c_txt">about_joo</div>
                        </li>
                        <li class="mb_l_sbw_sp_sb_content">
                            <div class="mb_l_sbw_sp_sb_c_img_wrapper">
                                <img class="mb_l_sbw_sp_sb_c_iw_i" src="/static/images/df.jpeg">
                            </div>
                            <div class="mb_l_sbw_sp_sb_c_txt">about_joo</div>
                        </li>
                        <li class="mb_l_sbw_sp_sb_content">
                            <div class="mb_l_sbw_sp_sb_c_img_wrapper">
                                <img class="mb_l_sbw_sp_sb_c_iw_i" src="/static/images/df.jpeg">
                            </div>
                            <div class="mb_l_sbw_sp_sb_c_txt">about_joo</div>
                        </li>
                        <li class="mb_l_sbw_sp_sb_content">
                            <div class="mb_l_sbw_sp_sb_c_img_wrapper">
                                <img class="mb_l_sbw_sp_sb_c_iw_i" src="/static/images/df.jpeg">
                            </div>
                            <div class="mb_l_sbw_sp_sb_c_txt">about_joo</div>
                        </li>
                        <li class="mb_l_sbw_sp_sb_content">
                            <div class="mb_l_sbw_sp_sb_c_img_wrapper">
                                <img class="mb_l_sbw_sp_sb_c_iw_i" src="/static/images/df.jpeg">
                            </div>
                            <div class="mb_l_sbw_sp_sb_c_txt">about_joo</div>
                        </li>
                        <li class="mb_l_sbw_sp_sb_content">
                            <div class="mb_l_sbw_sp_sb_c_img_wrapper">
                                <img class="mb_l_sbw_sp_sb_c_iw_i" src="/static/images/df.jpeg">
                            </div>
                            <div class="mb_l_sbw_sp_sb_c_txt">about_joo</div>
                        </li>
                        <li class="mb_l_sbw_sp_sb_content">
                            <div class="mb_l_sbw_sp_sb_c_img_wrapper">
                                <img class="mb_l_sbw_sp_sb_c_iw_i" src="/static/images/df.jpeg">
                            </div>
                            <div class="mb_l_sbw_sp_sb_c_txt">about_joo</div>
                        </li>
                        <li class="mb_l_sbw_sp_sb_content">
                            <div class="mb_l_sbw_sp_sb_c_img_wrapper">
                                <img class="mb_l_sbw_sp_sb_c_iw_i" src="/static/images/df.jpeg">
                            </div>
                            <div class="mb_l_sbw_sp_sb_c_txt">about_joo</div>
                        </li>
                        <li class="mb_l_sbw_sp_sb_content">
                            <div class="mb_l_sbw_sp_sb_c_img_wrapper">
                                <img class="mb_l_sbw_sp_sb_c_iw_i" src="/static/images/df.jpeg">
                            </div>
                            <div class="mb_l_sbw_sp_sb_c_txt">about_joo</div>
                        </li>
                    </ul>
                </div>
                <div class="mb_l_sbw_sp_sb_button">
                    <div class="mb_l_sbw_sp_sb_btn_prev">
                        <i class="bi bi-chevron-left"></i>
                    </div>
                    <div class="mb_l_sbw_sp_sb_btn_next">
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </div>
            </div>
            {% for post in posts %}
            <div class="mb_l_main_cards" id="image_{{post._id}}_{{post.file | length}}">
                <div class="mb_l_mc_header">
                    <div class="mb_l_mc_h_front">
                        <img src="data:image/jpeg;base64,{{post.get('user_info').get('profile_img')}}"
                            class="mb_l_mc_h_f_circle_avatar">
                        <div class="mb_l_mc_h_f_id">{{post.get('user_info').get('nick_name')}}</div>
                    </div>
                    <div class="mb_l_mc_h_back">
                        <i class="bi bi-three-dots mb_l_mc_h_b_dot_icon" onclick="small_modal_in('{{post._id}}')"></i>
                    </div>
                </div>
                <div class="mb_l_mc_main_image_box">
                    <div class="mb_l_mc_mib_button">
                        <div class="mb_l_mc_mib_btn_prev" id="main_button_prev_{{post._id}}"
                            onclick="carousel_prev_btn('{{post._id}}', 'main')">
                            <i class="bi bi-chevron-left"></i>
                        </div>
                        {% if post.file | length > 1 %}
                        <div class="mb_l_mc_mib_btn_next" style="visibility: visible;"
                            id="main_button_next_{{post._id}}"
                            onclick="carousel_next_btn('{{post._id}}','{{post.file | length}}', 'main')">
                            <i class="bi bi-chevron-right"></i>
                        </div>
                        {% else %}
                        <div class="mb_l_mc_mib_btn_next" style="visibility: hidden;"
                            id="main_button_next_{{post._id}}">
                            <i class="bi bi-chevron-right"></i>
                        </div>
                        {% endif %}

                    </div>
                    <div class="mb_l_mc_mib_carousel" id="main_carousel_{{post._id}}"
                        style="width : {{ 614 * post.file |length }}px">
                        {% for image in post.file %}
                        <img class="main_card_image" src="data:image/jpeg;base64,{{image}}">
                        {% endfor %}
                    </div>
                </div>

                <div class="mb_l_mc_comment">
                    <div class="mb_l_mc_c_liked_box">
                        <div class="mb_l_mc_c_lk_icon_box">
                            <div class="mb_l_mc_c_lk_ic_front">
                                {% if my_account._id | string in post.liked_people %}
                                <i id="{{post._id}}" onclick="like_button('{{post._id}}')" style="color: red;"
                                    class="bi bi-heart-fill mb_l_mc_c_lk_ic_icons"></i>
                                {% else %}
                                <i id="{{post._id}}" onclick="like_button('{{post._id}}')"
                                    class="bi bi-heart mb_l_mc_c_lk_ic_icons"></i>
                                {% endif %}
                                <i class="bi bi-chat mb_l_mc_c_lk_ic_icons" onclick="huge_modal_in('{{post._id}}')"></i>
                                <i class="bi bi-send mb_l_mc_c_lk_ic_icons"></i>
                            </div>
                            <div class="mb_l_mc_c_lk_ic_back">
                                <i class="bi bi-bookmark mb_l_mc_c_lk_ic_icons" id="book_mark_{{post._id}}" onclick="book_mark_button('{{post._id}}')"></i>
                            </div>
                        </div>
                        {% if post.liked_people | length > 0 %}
                        <div class="mb_l_mc_c_lk_liked_person">
                            <img src="data:image/jpeg;base64,{{post.get('liked_person_info')[-1].profile_img}}"
                                class="mb_l_mc_c_lk_lp_circle_avatar">
                            <div class="mb_l_mc_c_lk_lp_id">{{post.get('liked_person_info')[-1].nick_name}} 님 외
                                {{post.liked_people |
                                length -1}}명이 좋아합니다</div>
                        </div>
                        {% endif %}
                        <div class="mb_l_mc_c_lk_my_comment">
                            <div class="mb_l_mc_c_lk_mc_id">{{post.user_nick_name}}</div>
                            <div class="mb_l_mc_c_lk_mc_comment">{{post.content}}</div>
                        </div>
                        {% if post['comment'] | length > 1 %}
                        <div onclick="huge_modal_in('{{post._id}}')" onmouseover="this.style.cursor='pointer'">댓글
                            {{post['comment'] |
                            length}}개 모두 보기
                        </div>
                        {% endif %}
                        {% for comment in post['comment'] %}
                        <div class="mb_l_mc_c_lk_comments">
                            <div class="mb_l_mc_c_lk_c_id">{{comment.get('nick_name')}}</div>
                            <div class="mb_l_mc_c_lk_c_content">{{comment.get('comment')}}</div>
                        </div>
                        {% endfor %}
                        <div class="mb_l_mc_c_lk_days_before">{{post.timestamp.days}}일 전</div>

                    </div>
                    <div class="mb_l_mc_c_comment_input_box">
                        <div class="mb_l_mc_c_c_ib_front">
                            <i class="bi bi-emoji-smile mb_l_mc_c_c_ib_f_eb_smile"></i>
                            <input type="text" class="mb_l_mc_c_c_ib_input" id="comment_input_{{post._id}}"
                                oninput="change_comment_input(this)">
                        </div>
                        <div id="submit_{{post._id}}" class="mb_l_mc_c_ci_back"
                            onclick="comment_submit('{{post._id}}')">
                            게시
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="mb_right_float_box">
            <div class="mb_rf_my_account">
                <div class="mb_rf_ma_front">
                    {% if my_account is not none %}
                    <img src="data:image/jpeg;base64,{{my_account.get('profile_img')}}"
                        class="mb_rf_ma_f_circle_avatar">

                    <div class="mb_rf_ma_f_txt_wrapper">
                        <div class="mb_rf_ma_f_tw_id">{{my_account.get('nick_name')}}</div>
                        <div class="mb_rf_ma_f_tw_name">{{my_account.get('user_name')}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="mb_rf_mc_back">전환</div>
            </div>
            <div class="mb_rf_recommend_title">
                <div class="mb_rf_rt_txt">
                    회원님을 위한 추천
                </div>
                <div class="mb_rf_rf_button">
                    모두보기
                </div>
            </div>
            {% for user in users %}
            <div class="mb_rf_recommend_account">
                <div class="mb_rf_ra_front">
                    <img src="data:image/jpeg;base64,{{user.get('profile_img')}}" class="mb_rf_ra_f_circle_avatar">
                    <div class="mb_rf_ra_f_txt">
                        <div class="mb_rf_ra_f_t_id">{{user.get('nick_name')}}</div>
                        <div class="mb_rf_ra_f_t_follower">blahblah님이 팔로우합니다</div>
                    </div>
                </div>
                <div class="mb_rf_ra_back_follow" id="follow_btn_{{user.get('_id')}}" onclick="follow_btn(this)">팔로우
                </div>
                <div class="mb_rf_ra_back_following invisible" id="following_btn_{{user.get('_id')}}"
                    onclick="follow_btn(this)">
                    팔로잉</div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="/static/js/main.js"></script>

</body>

</html>