<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>로그인 페이지</title>

        <!-- 웹 폰트어썸, 제이쿼리 임포트-->
        <script src="https://kit.fontawesome.com/bc43dde373.js" crossorigin="anonymous"></script>
        <!-- JQuery Import -->
        <!-- src 부분을 https 로 변경해주면 로딩이 없어지는 상황이 있었음 -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>

        <!-- 로컬 css, js 임포트-->
        <link rel="stylesheet" href="css/header.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/footer.css">
        <script src="js/placeholder_focus.js"></script>
        <script src="js/modal.js"></script>

    </head>

    <body>
        <!-- 로그인 페이지 -->
        <div class="login_page">
            <!-- 로그인 박스 -->
            <div class="lp_box">
                <div class="lp_b_logo"></div>
                <div class="lp_b_login">
                    <div class="lp_b_li_id"></div>
                    <div class="lp_b_li_pw"></div>
                    <div class="lb_b_li_btn">
                        <button class="lb_b_li_btn_blue"></button>
                    </div>
                    <div class="lb_b_li_highlight">
                        <div class="lb_b_li_hl_line"></div>
                        <div class="lb_b_li_hl_or"></div>
                        <div class="lb_b_li_hl_line"></div>
                    </div>
                    <div class="lb_b_li_facebook">
                        <div class="lb_b_li_fb_logo"></div>
                        <div class="lb_b_li_fb_login"></div>
                    </div>
                    <div class="lb_b_li_forgot"></div>
                </div>

            </div>
            <div class="lp_newbie">
                <div class="lp_nb_register">
                    <div class="lp_nb_rg_ask"></div>
                    <div class="lp_nb_rg_reigster_link"></div>
                </div>
            </div>
            <div class="lp_download">
                <div class="lp_dl_sentence"></div>
                <div class="lp_dl_icon">
                    <div class="lp_dl_i_apple"></div>
                    <div class="lp_dl_i_android"></div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="text-center text-lg-start bg-light text-muted">
       
        </footer>
        <!-- Footer -->
    </body>